@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-vb51joyUHHL1_font-family: "Inter", sans-serif;
  --mixin-vb51joyUHHL1_font-size: 16px;
  --mixin-vb51joyUHHL1_font-weight: 400;
  --mixin-vb51joyUHHL1_font-style: normal;
  --mixin-vb51joyUHHL1_color: #535353;
  --mixin-vb51joyUHHL1_text-align: left;
  --mixin-vb51joyUHHL1_text-transform: none;
  --mixin-vb51joyUHHL1_line-height: 1.5;
  --mixin-vb51joyUHHL1_letter-spacing: normal;
  --mixin-vb51joyUHHL1_white-space: pre-wrap;
  --mixin-vb51joyUHHL1_user-select: text;
  --mixin-vb51joyUHHL1_text-decoration-line: none;
  --mixin-vb51joyUHHL1_text-overflow: clip;
  --mixin-eCd7SLGSFIEo_color: #000000;
  --mixin-eCd7SLGSFIEo_font-weight: 700;
  --mixin-eCd7SLGSFIEo_font-size: 64px;
  --mixin-eCd7SLGSFIEo_line-height: 1;
  --mixin-eCd7SLGSFIEo_letter-spacing: -1px;
  --mixin-eCd7SLGSFIEo_white-space: pre-wrap;
  --mixin-yU0St3JsZYc8_color: #000000;
  --mixin-yU0St3JsZYc8_font-size: 48px;
  --mixin-yU0St3JsZYc8_font-weight: 700;
  --mixin-yU0St3JsZYc8_letter-spacing: -0.5px;
  --mixin-yU0St3JsZYc8_line-height: 1.1;
  --mixin-yU0St3JsZYc8_white-space: pre-wrap;
  --mixin-tQD7rFmVBvEL_color: #0070f3;
  --mixin-tQD7rFmVBvEL_white-space: pre-wrap;
  --mixin-waZSvXQCXNeU_color: #000000;
  --mixin-waZSvXQCXNeU_font-size: 32px;
  --mixin-waZSvXQCXNeU_font-weight: 600;
  --mixin-waZSvXQCXNeU_line-height: 1.2;
  --mixin-waZSvXQCXNeU_white-space: pre-wrap;
  --mixin-y1Yr0qSjdu8O_color: #000000;
  --mixin-y1Yr0qSjdu8O_font-size: 24px;
  --mixin-y1Yr0qSjdu8O_font-weight: 600;
  --mixin-y1Yr0qSjdu8O_line-height: 1.3;
  --mixin-y1Yr0qSjdu8O_white-space: pre-wrap;
  --mixin-hKDs6X2avGuW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hKDs6X2avGuW_border-bottom-color: #dddddd;
  --mixin-hKDs6X2avGuW_border-bottom-style: solid;
  --mixin-hKDs6X2avGuW_border-bottom-width: 1px;
  --mixin-hKDs6X2avGuW_border-left-color: #dddddd;
  --mixin-hKDs6X2avGuW_border-left-style: solid;
  --mixin-hKDs6X2avGuW_border-left-width: 1px;
  --mixin-hKDs6X2avGuW_border-right-color: #dddddd;
  --mixin-hKDs6X2avGuW_border-right-style: solid;
  --mixin-hKDs6X2avGuW_border-right-width: 1px;
  --mixin-hKDs6X2avGuW_border-top-color: #dddddd;
  --mixin-hKDs6X2avGuW_border-top-style: solid;
  --mixin-hKDs6X2avGuW_border-top-width: 1px;
  --mixin-hKDs6X2avGuW_border-bottom-left-radius: 3px;
  --mixin-hKDs6X2avGuW_border-bottom-right-radius: 3px;
  --mixin-hKDs6X2avGuW_border-top-left-radius: 3px;
  --mixin-hKDs6X2avGuW_border-top-right-radius: 3px;
  --mixin-hKDs6X2avGuW_font-family: "Inconsolata";
  --mixin-hKDs6X2avGuW_padding-bottom: 1px;
  --mixin-hKDs6X2avGuW_padding-left: 4px;
  --mixin-hKDs6X2avGuW_padding-right: 4px;
  --mixin-hKDs6X2avGuW_padding-top: 1px;
  --mixin-hKDs6X2avGuW_white-space: pre-wrap;
  --mixin-luKTAHHsrmMi_border-left-color: #dddddd;
  --mixin-luKTAHHsrmMi_border-left-style: solid;
  --mixin-luKTAHHsrmMi_border-left-width: 3px;
  --mixin-luKTAHHsrmMi_color: #888888;
  --mixin-luKTAHHsrmMi_padding-left: 10px;
  --mixin-luKTAHHsrmMi_white-space: pre-wrap;
  --mixin-HN9a4mIR8CJ2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HN9a4mIR8CJ2_border-bottom-color: #dddddd;
  --mixin-HN9a4mIR8CJ2_border-bottom-style: solid;
  --mixin-HN9a4mIR8CJ2_border-bottom-width: 1px;
  --mixin-HN9a4mIR8CJ2_border-left-color: #dddddd;
  --mixin-HN9a4mIR8CJ2_border-left-style: solid;
  --mixin-HN9a4mIR8CJ2_border-left-width: 1px;
  --mixin-HN9a4mIR8CJ2_border-right-color: #dddddd;
  --mixin-HN9a4mIR8CJ2_border-right-style: solid;
  --mixin-HN9a4mIR8CJ2_border-right-width: 1px;
  --mixin-HN9a4mIR8CJ2_border-top-color: #dddddd;
  --mixin-HN9a4mIR8CJ2_border-top-style: solid;
  --mixin-HN9a4mIR8CJ2_border-top-width: 1px;
  --mixin-HN9a4mIR8CJ2_border-bottom-left-radius: 3px;
  --mixin-HN9a4mIR8CJ2_border-bottom-right-radius: 3px;
  --mixin-HN9a4mIR8CJ2_border-top-left-radius: 3px;
  --mixin-HN9a4mIR8CJ2_border-top-right-radius: 3px;
  --mixin-HN9a4mIR8CJ2_font-family: "Inconsolata";
  --mixin-HN9a4mIR8CJ2_padding-bottom: 3px;
  --mixin-HN9a4mIR8CJ2_padding-left: 6px;
  --mixin-HN9a4mIR8CJ2_padding-right: 6px;
  --mixin-HN9a4mIR8CJ2_padding-top: 3px;
  --mixin-HN9a4mIR8CJ2_white-space: pre-wrap;
  --mixin-zyyocxMa85Jo_display: flex;
  --mixin-zyyocxMa85Jo_flex-direction: column;
  --mixin-zyyocxMa85Jo_align-items: stretch;
  --mixin-zyyocxMa85Jo_justify-content: flex-start;
  --mixin-zyyocxMa85Jo_list-style-position: outside;
  --mixin-zyyocxMa85Jo_padding-left: 40px;
  --mixin-zyyocxMa85Jo_position: relative;
  --mixin-zyyocxMa85Jo_list-style-type: disc;
  --mixin-zyyocxMa85Jo_white-space: pre-wrap;
  --mixin-F38-Lm0fYLWP_display: flex;
  --mixin-F38-Lm0fYLWP_flex-direction: column;
  --mixin-F38-Lm0fYLWP_align-items: stretch;
  --mixin-F38-Lm0fYLWP_justify-content: flex-start;
  --mixin-F38-Lm0fYLWP_list-style-position: outside;
  --mixin-F38-Lm0fYLWP_padding-left: 40px;
  --mixin-F38-Lm0fYLWP_position: relative;
  --mixin-F38-Lm0fYLWP_list-style-type: decimal;
  --mixin-F38-Lm0fYLWP_white-space: pre-wrap;
  --mixin-RL_MirmvbuSJ_color: #000000;
  --mixin-RL_MirmvbuSJ_font-size: 20px;
  --mixin-RL_MirmvbuSJ_font-weight: 600;
  --mixin-RL_MirmvbuSJ_line-height: 1.5;
  --mixin-RL_MirmvbuSJ_white-space: pre-wrap;
  --mixin-h72Co66GxSYu_color: #000000;
  --mixin-h72Co66GxSYu_font-size: 16px;
  --mixin-h72Co66GxSYu_font-weight: 600;
  --mixin-h72Co66GxSYu_line-height: 1.5;
  --mixin-h72Co66GxSYu_white-space: pre-wrap;
  --mixin-XcC6LE7SPWkf_color: #3291ff;
  --mixin-XcC6LE7SPWkf_white-space: pre-wrap;
  --mixin-MMoGHvYZbzYW_white-space: pre-wrap;
  --mixin-tqlXYsrgPO_p_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-vb51joyUHHL1_font-family);
  font-size: var(--mixin-vb51joyUHHL1_font-size);
  font-weight: var(--mixin-vb51joyUHHL1_font-weight);
  font-style: var(--mixin-vb51joyUHHL1_font-style);
  color: var(--mixin-vb51joyUHHL1_color);
  text-align: var(--mixin-vb51joyUHHL1_text-align);
  text-transform: var(--mixin-vb51joyUHHL1_text-transform);
  line-height: var(--mixin-vb51joyUHHL1_line-height);
  letter-spacing: var(--mixin-vb51joyUHHL1_letter-spacing);
  white-space: var(--mixin-vb51joyUHHL1_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-eCd7SLGSFIEo_color);
  font-weight: var(--mixin-eCd7SLGSFIEo_font-weight);
  font-size: var(--mixin-eCd7SLGSFIEo_font-size);
  line-height: var(--mixin-eCd7SLGSFIEo_line-height);
  letter-spacing: var(--mixin-eCd7SLGSFIEo_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-yU0St3JsZYc8_color);
  font-size: var(--mixin-yU0St3JsZYc8_font-size);
  font-weight: var(--mixin-yU0St3JsZYc8_font-weight);
  letter-spacing: var(--mixin-yU0St3JsZYc8_letter-spacing);
  line-height: var(--mixin-yU0St3JsZYc8_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-tQD7rFmVBvEL_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-waZSvXQCXNeU_color);
  font-size: var(--mixin-waZSvXQCXNeU_font-size);
  font-weight: var(--mixin-waZSvXQCXNeU_font-weight);
  line-height: var(--mixin-waZSvXQCXNeU_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-y1Yr0qSjdu8O_color);
  font-size: var(--mixin-y1Yr0qSjdu8O_font-size);
  font-weight: var(--mixin-y1Yr0qSjdu8O_font-weight);
  line-height: var(--mixin-y1Yr0qSjdu8O_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-hKDs6X2avGuW_font-family);
  border-radius: var(--mixin-hKDs6X2avGuW_border-top-left-radius)
    var(--mixin-hKDs6X2avGuW_border-top-right-radius)
    var(--mixin-hKDs6X2avGuW_border-bottom-right-radius)
    var(--mixin-hKDs6X2avGuW_border-bottom-left-radius);
  padding: var(--mixin-hKDs6X2avGuW_padding-top)
    var(--mixin-hKDs6X2avGuW_padding-right)
    var(--mixin-hKDs6X2avGuW_padding-bottom)
    var(--mixin-hKDs6X2avGuW_padding-left);
  border-top: var(--mixin-hKDs6X2avGuW_border-top-width)
    var(--mixin-hKDs6X2avGuW_border-top-style)
    var(--mixin-hKDs6X2avGuW_border-top-color);
  border-right: var(--mixin-hKDs6X2avGuW_border-right-width)
    var(--mixin-hKDs6X2avGuW_border-right-style)
    var(--mixin-hKDs6X2avGuW_border-right-color);
  border-bottom: var(--mixin-hKDs6X2avGuW_border-bottom-width)
    var(--mixin-hKDs6X2avGuW_border-bottom-style)
    var(--mixin-hKDs6X2avGuW_border-bottom-color);
  border-left: var(--mixin-hKDs6X2avGuW_border-left-width)
    var(--mixin-hKDs6X2avGuW_border-left-style)
    var(--mixin-hKDs6X2avGuW_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-luKTAHHsrmMi_color);
  padding-left: var(--mixin-luKTAHHsrmMi_padding-left);
  border-left: var(--mixin-luKTAHHsrmMi_border-left-width)
    var(--mixin-luKTAHHsrmMi_border-left-style)
    var(--mixin-luKTAHHsrmMi_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-HN9a4mIR8CJ2_font-family);
  border-radius: var(--mixin-HN9a4mIR8CJ2_border-top-left-radius)
    var(--mixin-HN9a4mIR8CJ2_border-top-right-radius)
    var(--mixin-HN9a4mIR8CJ2_border-bottom-right-radius)
    var(--mixin-HN9a4mIR8CJ2_border-bottom-left-radius);
  padding: var(--mixin-HN9a4mIR8CJ2_padding-top)
    var(--mixin-HN9a4mIR8CJ2_padding-right)
    var(--mixin-HN9a4mIR8CJ2_padding-bottom)
    var(--mixin-HN9a4mIR8CJ2_padding-left);
  border-top: var(--mixin-HN9a4mIR8CJ2_border-top-width)
    var(--mixin-HN9a4mIR8CJ2_border-top-style)
    var(--mixin-HN9a4mIR8CJ2_border-top-color);
  border-right: var(--mixin-HN9a4mIR8CJ2_border-right-width)
    var(--mixin-HN9a4mIR8CJ2_border-right-style)
    var(--mixin-HN9a4mIR8CJ2_border-right-color);
  border-bottom: var(--mixin-HN9a4mIR8CJ2_border-bottom-width)
    var(--mixin-HN9a4mIR8CJ2_border-bottom-style)
    var(--mixin-HN9a4mIR8CJ2_border-bottom-color);
  border-left: var(--mixin-HN9a4mIR8CJ2_border-left-width)
    var(--mixin-HN9a4mIR8CJ2_border-left-style)
    var(--mixin-HN9a4mIR8CJ2_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-zyyocxMa85Jo_display);
  flex-direction: var(--mixin-zyyocxMa85Jo_flex-direction);
  align-items: var(--mixin-zyyocxMa85Jo_align-items);
  justify-content: var(--mixin-zyyocxMa85Jo_justify-content);
  list-style-position: var(--mixin-zyyocxMa85Jo_list-style-position);
  padding-left: var(--mixin-zyyocxMa85Jo_padding-left);
  position: var(--mixin-zyyocxMa85Jo_position);
  list-style-type: var(--mixin-zyyocxMa85Jo_list-style-type);
  flex-column-gap: var(--mixin-zyyocxMa85Jo_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-F38-Lm0fYLWP_display);
  flex-direction: var(--mixin-F38-Lm0fYLWP_flex-direction);
  align-items: var(--mixin-F38-Lm0fYLWP_align-items);
  justify-content: var(--mixin-F38-Lm0fYLWP_justify-content);
  list-style-position: var(--mixin-F38-Lm0fYLWP_list-style-position);
  padding-left: var(--mixin-F38-Lm0fYLWP_padding-left);
  position: var(--mixin-F38-Lm0fYLWP_position);
  list-style-type: var(--mixin-F38-Lm0fYLWP_list-style-type);
  flex-column-gap: var(--mixin-F38-Lm0fYLWP_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-RL_MirmvbuSJ_color);
  font-size: var(--mixin-RL_MirmvbuSJ_font-size);
  font-weight: var(--mixin-RL_MirmvbuSJ_font-weight);
  line-height: var(--mixin-RL_MirmvbuSJ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-h72Co66GxSYu_color);
  font-size: var(--mixin-h72Co66GxSYu_font-size);
  font-weight: var(--mixin-h72Co66GxSYu_font-weight);
  line-height: var(--mixin-h72Co66GxSYu_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-XcC6LE7SPWkf_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
