@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-8MXmQnC2bjba_font-family: "Inter", sans-serif;
  --mixin-8MXmQnC2bjba_font-size: 16px;
  --mixin-8MXmQnC2bjba_font-weight: 400;
  --mixin-8MXmQnC2bjba_font-style: normal;
  --mixin-8MXmQnC2bjba_color: #535353;
  --mixin-8MXmQnC2bjba_text-align: left;
  --mixin-8MXmQnC2bjba_text-transform: none;
  --mixin-8MXmQnC2bjba_line-height: 1.5;
  --mixin-8MXmQnC2bjba_letter-spacing: normal;
  --mixin-8MXmQnC2bjba_white-space: pre-wrap;
  --mixin-8MXmQnC2bjba_user-select: text;
  --mixin-8MXmQnC2bjba_text-decoration-line: none;
  --mixin-8MXmQnC2bjba_text-overflow: clip;
  --mixin-mxMkyxvS-Dgz_color: #000000;
  --mixin-mxMkyxvS-Dgz_font-weight: 700;
  --mixin-mxMkyxvS-Dgz_font-size: 64px;
  --mixin-mxMkyxvS-Dgz_line-height: 1;
  --mixin-mxMkyxvS-Dgz_letter-spacing: -1px;
  --mixin-mxMkyxvS-Dgz_white-space: pre-wrap;
  --mixin-HdPJZTU9D5vi_color: #000000;
  --mixin-HdPJZTU9D5vi_font-size: 48px;
  --mixin-HdPJZTU9D5vi_font-weight: 700;
  --mixin-HdPJZTU9D5vi_letter-spacing: -0.5px;
  --mixin-HdPJZTU9D5vi_line-height: 1.1;
  --mixin-HdPJZTU9D5vi_white-space: pre-wrap;
  --mixin-zeJ2A9YKvKCd_color: #0070f3;
  --mixin-zeJ2A9YKvKCd_white-space: pre-wrap;
  --mixin-kbRW3f75D6aK_color: #000000;
  --mixin-kbRW3f75D6aK_font-size: 32px;
  --mixin-kbRW3f75D6aK_font-weight: 600;
  --mixin-kbRW3f75D6aK_line-height: 1.2;
  --mixin-kbRW3f75D6aK_white-space: pre-wrap;
  --mixin-Ch45l-8jbF0Y_color: #000000;
  --mixin-Ch45l-8jbF0Y_font-size: 24px;
  --mixin-Ch45l-8jbF0Y_font-weight: 600;
  --mixin-Ch45l-8jbF0Y_line-height: 1.3;
  --mixin-Ch45l-8jbF0Y_white-space: pre-wrap;
  --mixin--IuC2kjAg1dl_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--IuC2kjAg1dl_border-bottom-color: #dddddd;
  --mixin--IuC2kjAg1dl_border-bottom-style: solid;
  --mixin--IuC2kjAg1dl_border-bottom-width: 1px;
  --mixin--IuC2kjAg1dl_border-left-color: #dddddd;
  --mixin--IuC2kjAg1dl_border-left-style: solid;
  --mixin--IuC2kjAg1dl_border-left-width: 1px;
  --mixin--IuC2kjAg1dl_border-right-color: #dddddd;
  --mixin--IuC2kjAg1dl_border-right-style: solid;
  --mixin--IuC2kjAg1dl_border-right-width: 1px;
  --mixin--IuC2kjAg1dl_border-top-color: #dddddd;
  --mixin--IuC2kjAg1dl_border-top-style: solid;
  --mixin--IuC2kjAg1dl_border-top-width: 1px;
  --mixin--IuC2kjAg1dl_border-bottom-left-radius: 3px;
  --mixin--IuC2kjAg1dl_border-bottom-right-radius: 3px;
  --mixin--IuC2kjAg1dl_border-top-left-radius: 3px;
  --mixin--IuC2kjAg1dl_border-top-right-radius: 3px;
  --mixin--IuC2kjAg1dl_font-family: "Inconsolata";
  --mixin--IuC2kjAg1dl_padding-bottom: 1px;
  --mixin--IuC2kjAg1dl_padding-left: 4px;
  --mixin--IuC2kjAg1dl_padding-right: 4px;
  --mixin--IuC2kjAg1dl_padding-top: 1px;
  --mixin--IuC2kjAg1dl_white-space: pre-wrap;
  --mixin-ckSNyX-ZIXS9_border-left-color: #dddddd;
  --mixin-ckSNyX-ZIXS9_border-left-style: solid;
  --mixin-ckSNyX-ZIXS9_border-left-width: 3px;
  --mixin-ckSNyX-ZIXS9_color: #888888;
  --mixin-ckSNyX-ZIXS9_padding-left: 10px;
  --mixin-ckSNyX-ZIXS9_white-space: pre-wrap;
  --mixin-YoPlsRzbQRow_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-YoPlsRzbQRow_border-bottom-color: #dddddd;
  --mixin-YoPlsRzbQRow_border-bottom-style: solid;
  --mixin-YoPlsRzbQRow_border-bottom-width: 1px;
  --mixin-YoPlsRzbQRow_border-left-color: #dddddd;
  --mixin-YoPlsRzbQRow_border-left-style: solid;
  --mixin-YoPlsRzbQRow_border-left-width: 1px;
  --mixin-YoPlsRzbQRow_border-right-color: #dddddd;
  --mixin-YoPlsRzbQRow_border-right-style: solid;
  --mixin-YoPlsRzbQRow_border-right-width: 1px;
  --mixin-YoPlsRzbQRow_border-top-color: #dddddd;
  --mixin-YoPlsRzbQRow_border-top-style: solid;
  --mixin-YoPlsRzbQRow_border-top-width: 1px;
  --mixin-YoPlsRzbQRow_border-bottom-left-radius: 3px;
  --mixin-YoPlsRzbQRow_border-bottom-right-radius: 3px;
  --mixin-YoPlsRzbQRow_border-top-left-radius: 3px;
  --mixin-YoPlsRzbQRow_border-top-right-radius: 3px;
  --mixin-YoPlsRzbQRow_font-family: "Inconsolata";
  --mixin-YoPlsRzbQRow_padding-bottom: 3px;
  --mixin-YoPlsRzbQRow_padding-left: 6px;
  --mixin-YoPlsRzbQRow_padding-right: 6px;
  --mixin-YoPlsRzbQRow_padding-top: 3px;
  --mixin-YoPlsRzbQRow_white-space: pre-wrap;
  --mixin-Ab8poe4JY6gj_display: flex;
  --mixin-Ab8poe4JY6gj_flex-direction: column;
  --mixin-Ab8poe4JY6gj_align-items: stretch;
  --mixin-Ab8poe4JY6gj_justify-content: flex-start;
  --mixin-Ab8poe4JY6gj_list-style-position: outside;
  --mixin-Ab8poe4JY6gj_padding-left: 40px;
  --mixin-Ab8poe4JY6gj_position: relative;
  --mixin-Ab8poe4JY6gj_list-style-type: disc;
  --mixin-Ab8poe4JY6gj_white-space: pre-wrap;
  --mixin-c_9iKZC8ihrb_display: flex;
  --mixin-c_9iKZC8ihrb_flex-direction: column;
  --mixin-c_9iKZC8ihrb_align-items: stretch;
  --mixin-c_9iKZC8ihrb_justify-content: flex-start;
  --mixin-c_9iKZC8ihrb_list-style-position: outside;
  --mixin-c_9iKZC8ihrb_padding-left: 40px;
  --mixin-c_9iKZC8ihrb_position: relative;
  --mixin-c_9iKZC8ihrb_list-style-type: decimal;
  --mixin-c_9iKZC8ihrb_white-space: pre-wrap;
  --mixin-3HBDO0VSPGvV_color: #000000;
  --mixin-3HBDO0VSPGvV_font-size: 20px;
  --mixin-3HBDO0VSPGvV_font-weight: 600;
  --mixin-3HBDO0VSPGvV_line-height: 1.5;
  --mixin-3HBDO0VSPGvV_white-space: pre-wrap;
  --mixin-moOcvbKVeH1s_color: #000000;
  --mixin-moOcvbKVeH1s_font-size: 16px;
  --mixin-moOcvbKVeH1s_font-weight: 600;
  --mixin-moOcvbKVeH1s_line-height: 1.5;
  --mixin-moOcvbKVeH1s_white-space: pre-wrap;
  --mixin-7r0ZVgKe9EYH_color: #3291ff;
  --mixin-7r0ZVgKe9EYH_white-space: pre-wrap;
  --mixin-sRSUgOOF0sGT_white-space: pre-wrap;
  --mixin-FDP8_ykiriU1_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-8MXmQnC2bjba_font-family);
  font-size: var(--mixin-8MXmQnC2bjba_font-size);
  font-weight: var(--mixin-8MXmQnC2bjba_font-weight);
  font-style: var(--mixin-8MXmQnC2bjba_font-style);
  color: var(--mixin-8MXmQnC2bjba_color);
  text-align: var(--mixin-8MXmQnC2bjba_text-align);
  text-transform: var(--mixin-8MXmQnC2bjba_text-transform);
  line-height: var(--mixin-8MXmQnC2bjba_line-height);
  letter-spacing: var(--mixin-8MXmQnC2bjba_letter-spacing);
  white-space: var(--mixin-8MXmQnC2bjba_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-mxMkyxvS-Dgz_color);
  font-weight: var(--mixin-mxMkyxvS-Dgz_font-weight);
  font-size: var(--mixin-mxMkyxvS-Dgz_font-size);
  line-height: var(--mixin-mxMkyxvS-Dgz_line-height);
  letter-spacing: var(--mixin-mxMkyxvS-Dgz_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-HdPJZTU9D5vi_color);
  font-size: var(--mixin-HdPJZTU9D5vi_font-size);
  font-weight: var(--mixin-HdPJZTU9D5vi_font-weight);
  letter-spacing: var(--mixin-HdPJZTU9D5vi_letter-spacing);
  line-height: var(--mixin-HdPJZTU9D5vi_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-zeJ2A9YKvKCd_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-kbRW3f75D6aK_color);
  font-size: var(--mixin-kbRW3f75D6aK_font-size);
  font-weight: var(--mixin-kbRW3f75D6aK_font-weight);
  line-height: var(--mixin-kbRW3f75D6aK_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Ch45l-8jbF0Y_color);
  font-size: var(--mixin-Ch45l-8jbF0Y_font-size);
  font-weight: var(--mixin-Ch45l-8jbF0Y_font-weight);
  line-height: var(--mixin-Ch45l-8jbF0Y_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--IuC2kjAg1dl_font-family);
  border-radius: var(--mixin--IuC2kjAg1dl_border-top-left-radius)
    var(--mixin--IuC2kjAg1dl_border-top-right-radius)
    var(--mixin--IuC2kjAg1dl_border-bottom-right-radius)
    var(--mixin--IuC2kjAg1dl_border-bottom-left-radius);
  padding: var(--mixin--IuC2kjAg1dl_padding-top)
    var(--mixin--IuC2kjAg1dl_padding-right)
    var(--mixin--IuC2kjAg1dl_padding-bottom)
    var(--mixin--IuC2kjAg1dl_padding-left);
  border-top: var(--mixin--IuC2kjAg1dl_border-top-width)
    var(--mixin--IuC2kjAg1dl_border-top-style)
    var(--mixin--IuC2kjAg1dl_border-top-color);
  border-right: var(--mixin--IuC2kjAg1dl_border-right-width)
    var(--mixin--IuC2kjAg1dl_border-right-style)
    var(--mixin--IuC2kjAg1dl_border-right-color);
  border-bottom: var(--mixin--IuC2kjAg1dl_border-bottom-width)
    var(--mixin--IuC2kjAg1dl_border-bottom-style)
    var(--mixin--IuC2kjAg1dl_border-bottom-color);
  border-left: var(--mixin--IuC2kjAg1dl_border-left-width)
    var(--mixin--IuC2kjAg1dl_border-left-style)
    var(--mixin--IuC2kjAg1dl_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ckSNyX-ZIXS9_color);
  padding-left: var(--mixin-ckSNyX-ZIXS9_padding-left);
  border-left: var(--mixin-ckSNyX-ZIXS9_border-left-width)
    var(--mixin-ckSNyX-ZIXS9_border-left-style)
    var(--mixin-ckSNyX-ZIXS9_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-YoPlsRzbQRow_font-family);
  border-radius: var(--mixin-YoPlsRzbQRow_border-top-left-radius)
    var(--mixin-YoPlsRzbQRow_border-top-right-radius)
    var(--mixin-YoPlsRzbQRow_border-bottom-right-radius)
    var(--mixin-YoPlsRzbQRow_border-bottom-left-radius);
  padding: var(--mixin-YoPlsRzbQRow_padding-top)
    var(--mixin-YoPlsRzbQRow_padding-right)
    var(--mixin-YoPlsRzbQRow_padding-bottom)
    var(--mixin-YoPlsRzbQRow_padding-left);
  border-top: var(--mixin-YoPlsRzbQRow_border-top-width)
    var(--mixin-YoPlsRzbQRow_border-top-style)
    var(--mixin-YoPlsRzbQRow_border-top-color);
  border-right: var(--mixin-YoPlsRzbQRow_border-right-width)
    var(--mixin-YoPlsRzbQRow_border-right-style)
    var(--mixin-YoPlsRzbQRow_border-right-color);
  border-bottom: var(--mixin-YoPlsRzbQRow_border-bottom-width)
    var(--mixin-YoPlsRzbQRow_border-bottom-style)
    var(--mixin-YoPlsRzbQRow_border-bottom-color);
  border-left: var(--mixin-YoPlsRzbQRow_border-left-width)
    var(--mixin-YoPlsRzbQRow_border-left-style)
    var(--mixin-YoPlsRzbQRow_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Ab8poe4JY6gj_display);
  flex-direction: var(--mixin-Ab8poe4JY6gj_flex-direction);
  align-items: var(--mixin-Ab8poe4JY6gj_align-items);
  justify-content: var(--mixin-Ab8poe4JY6gj_justify-content);
  list-style-position: var(--mixin-Ab8poe4JY6gj_list-style-position);
  padding-left: var(--mixin-Ab8poe4JY6gj_padding-left);
  position: var(--mixin-Ab8poe4JY6gj_position);
  list-style-type: var(--mixin-Ab8poe4JY6gj_list-style-type);
  flex-column-gap: var(--mixin-Ab8poe4JY6gj_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-c_9iKZC8ihrb_display);
  flex-direction: var(--mixin-c_9iKZC8ihrb_flex-direction);
  align-items: var(--mixin-c_9iKZC8ihrb_align-items);
  justify-content: var(--mixin-c_9iKZC8ihrb_justify-content);
  list-style-position: var(--mixin-c_9iKZC8ihrb_list-style-position);
  padding-left: var(--mixin-c_9iKZC8ihrb_padding-left);
  position: var(--mixin-c_9iKZC8ihrb_position);
  list-style-type: var(--mixin-c_9iKZC8ihrb_list-style-type);
  flex-column-gap: var(--mixin-c_9iKZC8ihrb_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-3HBDO0VSPGvV_color);
  font-size: var(--mixin-3HBDO0VSPGvV_font-size);
  font-weight: var(--mixin-3HBDO0VSPGvV_font-weight);
  line-height: var(--mixin-3HBDO0VSPGvV_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-moOcvbKVeH1s_color);
  font-size: var(--mixin-moOcvbKVeH1s_font-size);
  font-weight: var(--mixin-moOcvbKVeH1s_font-weight);
  line-height: var(--mixin-moOcvbKVeH1s_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-7r0ZVgKe9EYH_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
